<div class="portlet light ">
    <!-- PROJECT HEAD -->
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-bar-chart font-green-sharp hide"></i>
            <span class="caption-helper"></span> &nbsp;
            <span class="caption-subject font-green-sharp bold uppercase">{{column.name}}</span>
        </div>
        <div class="actions">
            <div class="btn-group">
                <a class="btn green btn-circle btn-sm" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> 操作
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu pull-right">
                    <li>
                        <a href="javascript:;" ng-click="newColumn()"> 新增 </a>
                    </li>
                    <li class="divider"> </li>
                    <li>
                        <a href="javascript:;"> Delete Project </a>
                    </li>
                    <li class="divider"> </li>
                    <li>
                        <a href="javascript:;" ng-click="removeColumn()"> 删除 </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- end PROJECT HEAD -->
    <div class="portlet-body">
        <div class="row">

        </div>
    </div>
</div>