th, td { white-space: nowrap; }


.hbox {
    display: table;
    width: 100%;
    height: 100%;
    border-spacing: 0;
    table-layout: fixed;
}

.hbox .col {
    display: table-cell;
    float: none;
    height: 100%;
    vertical-align: top;
}

.v-middle {
    vertical-align: middle !important;
}

.v-top {
    vertical-align: top !important;
}

.v-bottom {
    vertical-align: bottom !important;
}

.vbox {
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
    min-height: 240px;
    border-spacing: 0;
}

.vbox .row-row {
    display: table-row;
    height: 100%;
}

.vbox .row-row .cell {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.m-b-none {
    margin-bottom: 0 !important;
}

.bg-light {
    color: #58666e;
    background-color: #edf1f2
}
.bg-success {
    color: #c6efd0;
    background-color: #27c24c
}

.text-ellipsis {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.padding-l-r-none{
    padding-left: initial !important;
    padding-right: inherit !important;
}

.dropdown-menu{
    z-index: 9999 !important;
}

/** 框架自带样式修改  start **/
body {
    background-color: #223646;
}
.page-header.navbar{
    background-color: #223646;
    height: 100px;
    padding: 21px 0 26px 0;
}
.page-header.navbar .page-logo{
    margin-left: 63px;
    width: 62px;
    padding: initial;
}
.page-header-inner-title{
    float: left;
    display: block;
    margin-left: 34px;
}
.page-header-inner-title .head-text-zh{
    font-family: PingFangSC-Medium;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 2px;
    color: #ffffff;
    width: 314px;
    height: 24px;
}
.page-header-inner-title .head-text-en{
    width: 390px;
    height: 14px;
    font-family: PingFangSC-Light;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 1px;
    color: #ffffff;
}
.page-header.navbar .search-form{
    background:#223646;
}
.page-header-search-group{
    float:left;
    width: 250px;
    padding: 7px;
    position: relative;
    margin-right: 54px;
}
.page-header-search-group input{
    width: 250px;
    height: 36px;
    background-color: #344e62;
    border-radius: 18px !important;
    border: solid 1px #78a0c0;
}
.page-header-search-group .search-btn{
    position: absolute;
    right: 7px;
    top: 18px;
    color: #bad2e5;
}
.top-menu .icon-font-common{
    width: 23px;
    height: 26px;
    font-size: 20px !important;
    color: #bad2e5 !important;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown>.dropdown-toggle>.badge {
    top: 3px;
    right: 29px;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle .badge.badge-default{
    background-color: #ff0000;
}
.page-header-fixed .page-container{
    margin-top: 100px;
}
.page-sidebar, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover{
    background-color: #223646;
}
.page-sidebar-menu .first-group{
    height: 60px;
    background-color: #01b4c4;
    text-align: center;
    line-height: 60px;
}
.page-sidebar-menu .first-group i{
    color: #ffffff;
    font-size: 20px;
}
.page-sidebar-menu .first-group .title{
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 4px;
    color: #ffffff;
}
.page-header-wl{
    height: 181px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px 0px
    rgba(7, 0, 2, 0.1);
    border-radius: 2px;
}
.page-header-wl-close {
    height: 90px;
}
.page-header-wl .page-header-title{
    width: 100%;
    height: 79px;
    padding: 30px 41px 27px 37px;
}
.page-header-wl .page-header-title .header-title-icon{
    float:left;
    width: 6px;
    height: 21px;
    margin-top: 6px;
    background-color: #01b3c3;
}
.page-header-wl .page-header-title .header-title-text{
    float:left;
    padding-left: 13px;
    display: block;
    height: 22px;
    font-family: PingFangSC-Medium;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 1px;
    color: #000000;
}
.page-header-wl .page-header-title .header-title-opera{
    float: right;
}
.page-header-wl .page-header-title .header-title-up{
    height: 36px;
    width: 36px;
    float: right;
    margin-left: 20px;
    background-repeat: no-repeat;
    background-image: url("../img/arrow-up.png");
}
.page-header-wl .page-header-title .header-title-down{
    height: 36px;
    width: 36px;
    float: right;
    margin-left: 20px;
    background-repeat: no-repeat;
    background-image: url("../img/arrow-down.png");
}
.page-header-wl .page-header-line{
    margin-right: 41px;
    margin-left: 37px;
    height: 1px;
    border-bottom: dotted 1px #a0a0a0;
}
.page-header-wl .page-header-container{
    width: 100%;
    padding: 28px 30px 23px 30px;
    height: 101px;
}
.page-nav-title-wl{
    margin-right: 2px;
    background-color: #ffffff;
    height: 25px;
    border: solid 1px #a0a0a0;
}
.page-nav-ul-wl{
    width: calc(100% - 70px);
    overflow: hidden;
    height: 47px;
    white-space:nowrap;
}
.page-nav-title-wl span{
    color: #666666;
    line-height: 21px;
    text-shadow: none!important;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 3px 20px;
}
.page-nav-title-wl.active{
    background-color: #223646;
}
.page-nav-title-right-wl{
    float: right;
    line-height: 47px;
    padding: 0 10px;
}
.page-nav-title-left-wl{
    float: left;
    line-height: 47px;
    padding: 0 10px;
}
.cursor-wl{
    cursor: pointer;
}
/** 框架自带样式修改  End  **/