<div class="page-header-wl" ng-class="{true : '', false : 'page-header-wl-close'}[headerTitleToggle]" ng-init="headerTitleToggle=true">
    <div class="page-header-title">
        <div class="header-title-icon"></div>
        <span class="header-title-text">归属人资料列表</span>
        <div class="header-title-opera">
            <button type="button" ng-click="openAddPage()" class="btn green btn-outline"><i class="fa fa-plus"></i>  新增</button>
            <span ng-class="{true: 'header-title-up', false: 'header-title-down' }[headerTitleToggle]" ng-click="headerTitleToggle = !headerTitleToggle"  ></span>
        </div>
    </div>
    <div class="page-header-line"></div>
    <div class="page-header-container" ng-show="headerTitleToggle"></div>
</div>
<table ui-jq="dataTable" ui-options="tableConfig" class="table table-striped table-bordered table-hover order-column" >
    <thead>
    <tr>
        <th>ID</th>
        <th>姓名</th>
        <th>身份证</th>
        <th>联系方式</th>
        <th>邮箱</th>
        <th>微信号</th>
        <th>操作</th>
    </tr>
    </thead>
</table>

