<div class="page-sidebar navbar-collapse collapse">
    <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200"
        ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}">
        <li class="sidebar-search-wrapper first-group">
            <i class="glyphicon glyphicon-th-list"></i>
            <span class="title">功能导航</span>
        </li>
        <li class="nav-item" ng-repeat="menu in menus">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="{{menu.icon}}"></i>
                <span class="title">{{menu.text}}</span>
                <span ng-class="{'arrow' : menu.children.length>0}"></span>
            </a>
            <ul class="sub-menu" ng-if="menu.children.length>0">
                <li ng-repeat="child in menu.children">
                    <a ng-click="hrefUrl(child)" >
                        <i class="icon-puzzle"></i> {{child.text}}
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>